* {
	font-family: "맑은 고딕", Gothic, sans-serif; 
	margin: 0px; padding: 0px; 
} /* 초기화 */

li { list-style: none; }
a { text-decoration: none; }
img { border: 0; }

body {
	background: white; width: 800px; margin: 0px auto; 
} /* 좌우 auto시 가운데 정렬 */

#page_wrapper { 
	background: white; 
	margin-top: 40px; margin-bottom: 40px;
	box-shadow: 2px 2px 10px gray;
	border-radius: 5px;
	background: white;
}

footer {
    margin-top: 50px;
 	padding: 10px;
 	width: 780px;
 	background-color: white;
 	border-radius: 0 0 15px 15px;
 }

footer > p{
    font-family: 'Gowun Batang', serif;
 	font-weight: bold;
 	text-align: center;
 }

#program_title {
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 40px;
    margin: 0px auto;
    padding: 40px 0px;
    text-align: center;
 }

#program_description {
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0px auto;
    text-align: center;
 }

#review_input {
    font-family: 'Gowun Batang', serif;
    width: 500px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    display: block;
    background-color: gainsboro;
    text-align: center;
    width: 500px;
    border-radius: 6px;
    margin: 0px auto;
    margin-top: 20px;
 }

#review_submit {
    font-family: 'Gowun Batang', serif;
    background-color:#FD5D5D;
    color:white;
    display: block;
    width: 500px; height: 35px;
    line-height: 35px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 6px;
    border: 0;
    outline: 0;
    box-shadow: 3px 3px 5px 0px rgb(85, 30, 32);
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

#review_submit:hover {
    background-color: #FFF7BC;
    box-shadow: 3px 3px 5px 0px rgb(192, 237, 166);
    color: black;
    transform: translateY(2px);
}

#analysis{
    display: none; /**/
    margin: 0px auto;
    padding: 40px 0px;
    text-align: center;
}

#analysis p{
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.result{
    font-family: 'Gowun Batang', serif;
    width: 500px;
    font-weight: bold;
    margin: 0px auto;
    font-size: 15px;
    text-align: center;
}

#check_wrapper{
    width: 230px;
    overflow: hidden;
    margin: 0px auto;
    padding: 15px;
}

label:nth-of-type(1){
    font-family: 'Gowun Batang', serif;
    background-color:#FD5D5D;
    float: left;
    color:white;
    display: block;
    width: 100px; height: 35px;
    line-height: 35px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 6px;
    border: 0;
    outline: 0;
    box-shadow: 3px 3px 5px 0px rgb(85, 30, 32);
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 3px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
label:nth-of-type(2){
    font-family: 'Gowun Batang', serif;
    background-color:#FD5D5D;
    float: right;
    color:white;
    display: block;
    width: 100px; height: 35px;
    line-height: 35px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 6px;
    border: 0;
    outline: 0;
    box-shadow: 3px 3px 5px 0px rgb(85, 30, 32);
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 3px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

input:nth-of-type(1), input:nth-of-type(2) {display: none;}
input:nth-of-type(1):checked ~ label:nth-of-type(1) {
    background-color: white;
    box-shadow: 3px 3px 5px 0px rgb(192, 237, 166);
    color: black;
    transform: translateY(2px);
}
input:nth-of-type(2):checked ~ label:nth-of-type(2) {
    background-color: white;
    box-shadow: 3px 3px 5px 0px rgb(192, 237, 166);
    color: black;
    transform: translateY(2px);
}

#database_submit {
    font-family: 'Gowun Batang', serif;
    background-color:#24def7;
    color:white;
    display: block;
    width: 230px; height: 35px;
    line-height: 35px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 6px;
    border: 0;
    outline: 0;
    box-shadow: 3px 3px 5px 0px rgb(7, 93, 119);
    margin: 0px auto;
    margin-top: 3px;
    margin-bottom: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

#database_submit:hover {
    background-color: #FFF7BC;
    box-shadow: 3px 3px 5px 0px rgb(192, 237, 166);
    color: black;
    transform: translateY(2px);
}

#select {
    font-size: 24px;
    margin: 30px auto;
}

#myform {
    text-align: center;
}